In [1]:
import pandas as pd
import sys

In [2]:
train = pd.read_csv('data/train.csv')
train.head()

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,...,total_acc,initial_list_status,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,record_id
0,15000.0,36 months,11.99,498.15,B,B3,Quality Assurance Specialist,4 years,MORTGAGE,70000.0,...,32.0,f,0.0,1.0,INDIVIDUAL,0.0,0.0,295215.0,20500.0,453246940
1,3725.0,36 months,6.03,113.38,A,A1,NaN,NaN,MORTGAGE,52260.0,...,9.0,f,0.0,1.0,INDIVIDUAL,0.0,0.0,25130.0,14200.0,453313687
2,16000.0,36 months,11.14,524.89,B,B2,KIPP NYC,3 years,RENT,67500.0,...,22.0,f,0.0,1.0,INDIVIDUAL,0.0,193.0,41737.0,19448.0,453283543
3,4200.0,36 months,13.33,142.19,C,C3,Receptionist,< 1 year,MORTGAGE,21600.0,...,19.0,w,0.0,1.0,INDIVIDUAL,0.0,165.0,28187.0,14500.0,453447199
4,6500.0,36 months,12.69,218.05,B,B5,Medtox Laboratories,10+ years,RENT,41000.0,...,12.0,f,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN,453350283

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200189 entries, 0 to 200188
Data columns (total 36 columns):
loan_amnt                     200189 non-null float64
term                          200189 non-null object
int_rate                      200189 non-null float64
installment                   200189 non-null float64
grade                         200189 non-null object
sub_grade                     200189 non-null object
emp_title                     189062 non-null object
emp_length                    192135 non-null object
home_ownership                200189 non-null object
annual_inc                    200189 non-null float64
verification_status           200189 non-null object
issue_d                       200189 non-null object
loan_status                   200189 non-null int64
pymnt_plan                    200189 non-null object
purpose                       200189 non-null object
zip_code                      200189 non-null object
addr_state                    200189 non-null object
dti                           200189 non-null float64
delinq_2yrs                   200189 non-null float64
earliest_cr_line              200189 non-null object
inq_last_6mths                200189 non-null float64
mths_since_last_delinq        89621 non-null float64
open_acc                      200189 non-null float64
pub_rec                       200189 non-null float64
revol_bal                     200189 non-null float64
revol_util                    200035 non-null float64
total_acc                     200189 non-null float64
initial_list_status           200189 non-null object
collections_12_mths_ex_med    200145 non-null float64
policy_code                   200189 non-null float64
application_type              200189 non-null object
acc_now_delinq                200189 non-null float64
tot_coll_amt                  152232 non-null float64
tot_cur_bal                   152232 non-null float64
total_rev_hi_lim              152232 non-null float64
record_id                     200189 non-null int64
dtypes: float64(19), int64(2), object(15)
memory usage: 55.0+ MB

In [4]:
def Nan_killer(x, num = -999):
    x['revol_util'] = x['revol_util'].fillna(num)
  #  x['tot_coll_amt'] = x['tot_coll_amt'].fillna(num)
    x['tot_cur_bal'] =  x['tot_cur_bal'].fillna(num)
    x['total_rev_hi_lim'] =  x['total_rev_hi_lim'].fillna(num)

In [5]:
def proc(x,y):
  #  x['home_ownership'] = x['home_ownership'].astype(str).map(lambda x: 'OTHER' if x in ['NONE', 'ANY'] else x)
  #  x['purpose'] = x['purpose'].astype(str).map(lambda x: 'other' if x in ['educational', 'renewable_energy','vacation','house','wedding','moving','medical','car','small_business','major_purchase'] else x)
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state = 42)
    x_test['sub_grade'] = x_test['sub_grade'].astype('str').map(lambda x: ord(x[0])*10 + int(x[1]))
    x_train['sub_grade'] = x_train['sub_grade'].astype('str').map(lambda x: ord(x[0])*10 + int(x[1]))
    x_train = pd.get_dummies(x_train, columns = ['purpose','home_ownership','term','verification_status'])   # OHE (?????)
    x_test = pd.get_dummies(x_test, columns = ['purpose','home_ownership','term','verification_status'])
    for i in list(x_test): # удаление из тестовых данных столбцов, если их не было в тренировочных
        if i not in list(x_train):
            list(my_dataframe)
            x_test.drop(i, axis=1, inplace=True)
    for i in list(x_train): # добавление колонки с нулями, если такой нет в тестовой
        if i not in list(x_test):
            x_test[i] = 0
    

    x_test = x_test.reindex(sorted(x_test.columns), axis=1)
    x_train = x_train.reindex(sorted(x_test.columns), axis=1)
    return x_train, x_test, y_train, y_test

In [10]:
data =  train.loc[:,['annual_inc','int_rate',
                 'open_acc','total_acc','dti','tot_cur_bal',
                 'sub_grade','inq_last_6mths','total_rev_hi_lim',
                 'revol_bal','revol_util','loan_amnt']]

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200189 entries, 0 to 200188
Data columns (total 12 columns):
annual_inc          200189 non-null float64
int_rate            200189 non-null float64
open_acc            200189 non-null float64
total_acc           200189 non-null float64
dti                 200189 non-null float64
tot_cur_bal         152232 non-null float64
sub_grade           200189 non-null object
inq_last_6mths      200189 non-null float64
total_rev_hi_lim    152232 non-null float64
revol_bal           200189 non-null float64
revol_util          200035 non-null float64
loan_amnt           200189 non-null float64
dtypes: float64(11), object(1)
memory usage: 18.3+ MB

In [12]:
data['sub_grade'] = data['sub_grade'].astype('str').map(lambda x: ord(x[0])*10 + int(x[1]))

In [14]:
data.head()

,annual_inc,int_rate,open_acc,total_acc,dti,tot_cur_bal,sub_grade,inq_last_6mths,total_rev_hi_lim,revol_bal,revol_util,loan_amnt
0,70000.0,11.99,17.0,32.0,13.85,295215.0,663,1.0,20500.0,12540.0,61.2,15000.0
1,52260.0,6.03,7.0,9.0,19.43,25130.0,651,0.0,14200.0,3730.0,26.3,3725.0
2,67500.0,11.14,9.0,22.0,14.77,41737.0,662,0.0,19448.0,11769.0,60.5,16000.0
3,21600.0,13.33,9.0,19.0,39.00,28187.0,673,0.0,14500.0,6797.0,46.9,4200.0
4,41000.0,12.69,8.0,12.0,18.35,NaN,665,0.0,NaN,14674.0,82.4,6500.0